ul span a{
  
    text-decoration: none;
}
span{
    list-style-type: none;
}
ul span{
    float: left;
    margin-left: 28px;
}

.nav{
    border: 1px solid;
    color: white;
    height: 68px;
    background-color: #fbe160;
}